Django==3.2.24
django-bootstrap3==21.2
django-session-security==2.6.6
django-csp
django-http-referrer-policy
django-feature-policy
python-dotenv
pytr==0.4.2
django-phonenumber-field[phonenumbers]
jsonpickle
